.button {
  color: white;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: none;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f0f2fa;
    color: #c5cbe0;
  }
}
