$moible-bp: 767.98px;

.container {
  display: flex;
  align-items: center;

  @media (max-width: $moible-bp) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;

  @media (max-width: $moible-bp) {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
}

.text {
  font-size: 18px;
  line-height: 28px;
}
