$moible-bp: 991.98px;

.container {
  position: relative;
}

.header {
  border-bottom: 0.2px solid white;
  height: 64px;
}

.headerContent {
  display: flex;
  align-items: center;
  height: 64px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  z-index: -1;

  @media (max-width: $moible-bp) {
    width: 100%;
  }
}

.base {
  width: 100%;
  height: auto;

  @media (max-width: $moible-bp) {
    display: none;
  }
}

.baseMobile {
  display: none;

  @media (max-width: $moible-bp) {
    display: block;
  }
}

.people {
  position: absolute;
  top: 100px;
  margin-left: -190px;

  @media (max-width: $moible-bp) {
    bottom: -20px;
    top: auto;
    right: -35px;
    margin-left: 0;
    width: 50%;
  }
}

.info {
  color: white;
  margin-top: 100px;

  @media (max-width: $moible-bp) {
    margin-top: 16px;
    width: 70%;
  }
}

.title {
  font-size: 44px;

  @media (max-width: $moible-bp) {
    font-size: 32px;
  }
}

.content {
  margin-top: 0;
  background-color: rebeccapurple;

  @media (max-width: $moible-bp) {
    margin-top: 80px;
  }
}
